body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    font-size: 20px;
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 500;
    background: #0056D2;
    color: white;
    box-shadow: 0 0 10px #0056D2;
    transition: .5s;
    cursor: pointer;
}

button:hover{
    background: #DC143C;
    box-shadow: 0 0 10px #DC143C;
}

.btn{
    display: flex;
    gap: 20px;
}